#home-page {
  height: 100vh;
  overflow-y: hidden;

  #home-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.timer-modal-head {
  text-align: center;
  letter-spacing: 2px;
}

.content > p {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.media-select {
  width: 100%;
  padding: 30px !important;
}
